@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter Variable';
    src: url('public/fonts/inter-variable.ttf') format('truetype-variations');
    font-display: swap;
  }

  body {
    @apply font-sans text-base;
    text-rendering: optimizeLegibility;
  }
}
